model/*
exam/report/*.aux
exam/report/*.bbl
exam/report/*.bcf
exam/report/*.blg
exam/report/*.blx.bib
exam/report/*.fdb_latexmk
exam/report/*.fls
exam/report/*.idx
exam/report/*.ilg
exam/report/*.ind
exam/report/*.log
exam/report/*.gz
exam/report/*.toc
exam/report/*.out
exam/report/bib/*
exam/report/config/*
exam/report/code/*
oci/image/*
